<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>eCms2012</display-name>	
	<servlet>
		<servlet-name>Install</servlet-name>
		<servlet-class>com.kingcore.cms.InstallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Install</servlet-name>
		<url-pattern>/install/install_setup.svl</url-pattern>
	</servlet-mapping>
	
    <!-- add by wzw -->
    <servlet>
        <servlet-name>JspServlet</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JspServlet</servlet-name>
        <url-pattern>*.jspw</url-pattern>
    </servlet-mapping>
    <!-- end of add by wzw -->

	<welcome-file-list>
		<welcome-file>install.html</welcome-file>
	</welcome-file-list>
</web-app>